#side-nav {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

#content-viewer {
  margin-top: 1em;
  display: flex;
  background-color: rgb(184, 184, 184);
  justify-content: center;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

#breadcrumb {
  margin-left: 0.8%;
}

video {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* HOME AND SALIR */

i.navbar.material-icons.tooltipped {
  font-size: 45px;
  line-height: 60px;
}

.divider {
  background-color: black;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

a.collection-item {
  color: green !important;
  font-weight: 900;
}

div.collapsible-header {
  color: green;
  font-weight: 900;
}

.tabs a {
  color: grey;
}

.tabs a:hover {
  color: black;
}

embed {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .indicator{
  height: 5px !important;
  width: 2em;
} */

li.indicator {
  background-color: rgb(50, 214, 55) !important;
  /* height: 4px !important; */
}

a.brand-logo {
  padding-left: 1%;
}

#logo-um {
  margin-top: 2px;
  width: 90%;
  height: 2em;
}

.nav-wrapper {
  background-color: rgb(76, 175, 80);
}

.page-footer {
  background-color: rgb(76, 175, 80);
}

footer img {
  width: 200px;
  margin-left: 30em;
}

/* COLLECTION - COLLAPSIBLE */

.collapsible-collection {
  margin-top: 0;
}

.collection .collection-item.active {
  background-color: rgb(76, 175, 80);
  color: #eafaf9;
}

div.collapsible-header:hover {
  background-color: #ddd;
}

div.collection-item {
  transition: .25s;
}

.collapsible {
  border-top: 0px solid #ddd;
  border-right: 0 !important;
  border-left: 0 !important;
  margin: 0.01rem 0rem;
}

#subnivel2 a.collection-item {
  font-style: italic;
  font-weight: 700;
}

/* Ajuste del logo */

@media only screen and (max-width: 1200px) {
  a.brand-logo {
    padding-left: 0%;
  }
}